:root {
  --fc-border-color: lightgray;
  --fc-page-bg-color: none;
}

.dark {
  --fc-border-color: gray;
}

/* Removing borders */
.fc-scrollgrid {
  border: none !important;
}

.fc tbody tr:last-child td:first-child {
  border-left: 0 !important;
}

.fc tbody tr:last-child td:last-child {
  border-right: 0 !important;
  border-bottom: 0 !important;
}

.fc-theme-standard th {
  border-right: 0 !important;
}

/* Header */
.fc-col-header-cell-cushion {
  display: flex;
  height: 3.5rem;
  align-items: center;
}

/* Time grid */
.fc-timegrid-slot {
  height: 1.5rem !important;
}

.fc-timegrid-slot-label-cushion {
  font-size: 0.75rem;
  font-weight: 300;
}

/* Day grid */
td.fc-daygrid-day.fc-day {
  background-color: inherit;
  pointer-events: none;
}

td.fc-daygrid-day.fc-day:hover {
  background-color: hsl(var(--secondary)) !important;
}

td.fc-daygrid-day.fc-day.fc-day-today {
  background-color: hsl(var(--secondary-foreground));
}

.fc-day-today {
  background-color: inherit !important;
}

.fc-day-other {
  background-color: hsl(var(--muted)) !important;
}

.dark .fc-day-other {
  background-color: hsl(var(--secondary)) !important;
}

.fc-daygrid-day-top {
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: 100%;
  align-items: center;
}

/* Events */
.fc-daygrid-dot-event:hover {
  background-color: rgba(219, 234, 254, 1) !important;
}

.fc-daygrid-event-harness {
  padding-right: 0.5rem;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.fc-daygrid-event-harness:hover {
  transform: scale(1.02);
  background: none;
}

.fc-timegrid-event-harness {
  cursor: pointer;
}

.fc-timegrid-event-harness:hover {
  background: none;
}

.fc-event-main {
  display: flex;
  width: 100%;
  height: 100%;
}

.fc-event {
  display: flex;
  border: none;
  min-width: 100%;
  pointer-events: all;
  cursor: pointer;
  z-index: 10;
}

.fc-daygrid-event {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.fc-timegrid-event {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.fc-daygrid-event-harness {
  pointer-events: all !important;
}

.fc-daygrid-day-top {
  pointer-events: none !important;
}